
<div class="card">
  <div class="card__content">
    <legend><%= t(".title") %></legend>
    <p>
      <%= decidim_sanitize t(".directions") %>
    </p>
    <% if form.information_page %>
      <h5 class="card__title"><%= strip_tags(translated_attribute(form.information_page.title)) %></h5>
      <div class="verification_information"><%= decidim_sanitize translated_attribute(form.information_page.content) %></div>
    <% end %>
    <div class="row">
      <div class="column large-6 document_uploader">
        <div class="field">
          <%= f.label(:document_file1) do %>
            <%= image_tag "decidim/census_connector/verifications/census/#{person.document_type}-sample1.png", alt: t(".sample1-description.#{person.document_type}") %>
              <div class="button button__info small secondary"><strong><%= t(".choose") %></strong><br/><%= t("..sample1-description.#{person.document_type}") %></div>
          <% end %>
          <div class="upload">
            <%= f.upload :document_file1, accept: "image/*"%>
          </div>
        </div>
      </div>
      <div class="column large-6 document_uploader">
        <div class="field">
          <%= f.label(:document_file2) do %>
            <%= image_tag "decidim/census_connector/verifications/census/#{person.document_type}-sample2.png", alt: t(".sample2-description.#{person.document_type}") %>
              <div class="button button__info small secondary"><strong><%= t(".choose") %></strong><br/><%= t(".sample2-description.#{person.document_type}") %></div>
          <% end %>
          <div class="upload">
            <%= f.upload :document_file2, accept: "image/*"%>
          </div>
        </div>
      </div>
    </div>
    <% if form.terms_and_conditions_page %>
      <p class="lopd-text">
        <strong><%= translated_attribute(form.terms_and_conditions_page.title) %></strong><br/>
        <%= strip_tags(translated_attribute(form.terms_and_conditions_page.content)) %>
      </p>
      <div class="field">
        <%= f.check_box :tos_agreement, label: t("tos_agreement", scope: "decidim.devise.registrations.new", link: link_to(t("terms", scope: "decidim.devise.registrations.new"), decidim.page_path(form.terms_and_conditions_page))) %>
      </div>
    <% end %>
  </div>
</div>
