<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="columns large-9 medium-centered">
        <div class="card">
          <div class="card__content">
            <%= decidim_form_for(@handler, url: current_form_path) do |form| %>
              <% if !@handler.verified? %>
                <div class="field">
                  <%= form.text_field :first_name %>
                </div>

                <div class="row">
                  <div class="column large-6">
                    <div class="field">
                      <%= form.text_field :last_name1 %>
                    </div>
                  </div>
                  <div class="column large-6">
                    <div class="field">
                      <%= form.text_field :last_name2 %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="column large-3">
                    <div class="field">
                      <%= form.select :document_type, @handler.class.document_types, include_blank: false %>
                    </div>
                  </div>
                  <div class="column large-9">
                    <div class="field">
                      <%= form.text_field :document_id %>
                    </div>
                  </div>
                </div>

                <div id="document_scope_selector" class="field">
                  <%= form.select :document_scope_id, @handler.class.document_scopes.map { |scope| [translated_attribute(scope.name), scope.id] } %>
                </div>

                <div class="field">
                  <%= form.label :gender %>
                  <div class="radio-options">
                    <%= form.collection_radio_buttons :gender, @handler.class.genders, :last, :first %>
                  </div>
                </div>

                <div class="field date">
                  <%= form.date_field :born_at, "data-start-view" => "decade", "data-date-startdate" => 120.years.ago.to_date, "data-date-enddate" => 14.years.ago.to_date %>
                </div>
              <% end %>

              <div class="field" data-local-scope-ranges="<%= local_scope_ranges.to_json %>">
                <%= form.scopes_picker :address_scope_id do |scope|
                  { url: decidim.scopes_picker_path(current: scope&.id, field: form.label_for(:address_scope_id)),
                    text: scope_name_for_picker(scope, t("decidim.scopes.prompt")) }
                end %>
              </div>

              <div class="row">
                <div class="column large-9">
                  <div class="field">
                    <%= form.text_field :address %>
                  </div>
                </div>
                <div class="column large-3">
                  <div class="field">
                    <%= form.text_field :postal_code %>
                  </div>
                </div>
              </div>

              <div id="scope_selector" class="field">
                <%= form.scopes_picker :scope_id do |scope|
                  { url: decidim.scopes_picker_path(root: local_scope, current: scope&.id, field: form.label_for(:scope_id)),
                    text: scope_name_for_picker(scope, t("decidim.scopes.prompt")) }
                end %>
              </div>

              <div class="actions">
                <%= form.submit t("authorize", scope: "decidim.verifications.authorizations.new"), class: "button expanded" %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "datepicker-locales/foundation-datepicker.#{I18n.locale}.js" if I18n.locale != :en %>
<%= javascript_include_tag 'decidim/census_connector/verifications/census' %>
