<div class="wrapper">
  <div class="row collapse">
    <div class="row collapse">
      <div class="columns large-8 large-centered text-center page-title">
        <h1><%= t(".title") %></h1>
      </div>
    </div>

    <div class="row">
      <div class="columns large-9 medium-centered census-form">
        <%= decidim_form_for(@form, url: current_form_path) do |form| %>
          <%= render partial: "identity_verification_part", locals: { form: form } if @form.identity_part? %>
          <%= render partial: "membership_verification_part", locals: { form: form } if @form.membership_part? %>
          <%= render partial: "phone_verification_part", locals: { form: form } if @form.phone_part? %>

          <div class="card">
            <div class="card__content">
              <div class="actions">
                <%= form.submit t("authorize", scope: "decidim.verifications.authorizations.new"), class: "button expanded" %>
              </div>
              <% if has_person? %>
                <p class="text-center">
                  <a href="<%= decidim_census_account.root_path%>">
                    <%= t("go_back", scope: "decidim.census_connector.verifications.census.authorizations") %>
                  </a>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'decidim/census_connector/verifications/census' %>
<%= stylesheet_link_tag "decidim/census_connector/verifications/census" %>
