<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section votings">
    <div>
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div>
      <%= form.translated :editor, :description %>
    </div>

    <div>
      <%= form.upload :image %>
    </div>

    <div class="grid-x grid-margin-x">
      <div class="cell medium-6">
        <%= form.datetime_field :start_date %>
        <p class="help-text"><%= t '.start_date_help' %></p>
      </div>

      <div class="cell medium-6">
        <%= form.datetime_field :end_date %>
        <p class="help-text"><%= t '.end_date_help' %></p>
      </div>
    </div>

    <div class="grid-x grid-margin-x">
      <% if current_participatory_space.has_subscopes? %>
        <div class="cell large-8">
          <%= scopes_picker_field form, :decidim_scope_id %>
        </div>
      <% end %>
      <div class="cell large-auto">
        <%= form.number_field :importance %>
      </div>
    </div>
  </div>
</div>

<div class="card voting-system">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".system_configuration") %>
    </h2>
  </div>

  <div class="card-section">
    <div class="grid-x grid-margin-x">
      <div class="cell large-6">
        <%= form.text_field :voting_system, value: 'nVotes', disabled: true %>
      </div>

      <div class="cell large-6">
        <%= form.text_field :voting_identifier %>
      </div>
    </div>

    <div class="grid-x grid-margin-x align-middle">
      <div class="cell large-auto">
        <%= form.text_field :voting_domain_name %>
      </div>

      <% if !form.object.persisted? %>
        <div class="cell large-6">
          <%= form.password_field :shared_key %>
        </div>
      <% elsif form.object.can_change_shared_key %>
        <div class="cell large-6">
          <%= form.check_box :change_shared_key, data: { toggle: :shared_key_div } %>
          <div id="shared_key_div" class="cell large-6 hide" data-toggler=".hide">
            <%= form.password_field :shared_key, label: false %>
          </div>
        </div>
      <% end %>
    </div>

    <div>
      <%= form.number_field :simulation_code %>
    </div>

    <% if current_participatory_space.has_subscopes? %>
      <div class="electoral_districts">
        <label><%= t(".electoral_districts") %></label>

        <% form.object.electoral_districts.each do |electoral_district| %>
          <%= render "electoral_district_fields",
                     electoral_district: electoral_district,
                     nested_form_id: "electoral-district-fields-#{electoral_district.id}"
          %>
        <% end %>

        <%= link_to_add_electoral_district t(".add_electoral_district") %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'decidim/votings/admin/votings' %>
<%= stylesheet_link_tag 'decidim/votings/votings' %>
