<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t('.title') %>
      <%= link_to t('actions.new', scope: 'decidim.votings'),
                  new_voting_path, class: 'button tiny button--title' if allowed_to? :create, :voting %>
    </h2>
  </div>

  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
        <tr>
          <th>
            <%=t 'models.voting.fields.title', scope: 'decidim.votings'  %>
          </th>
          <th>
            <%=t 'models.voting.fields.start_date', scope: 'decidim.votings'  %>
          </th>
          <th>
            <%=t 'models.voting.fields.end_date', scope: 'decidim.votings'  %>
          </th>
          <th>
            <%=t 'models.voting.fields.pending_votes', scope: 'decidim.votings'  %>
          </th>
          <th>
            <%=t 'models.voting.fields.confirmed_votes', scope: 'decidim.votings'  %>
          </th>
          <th>
            <%=t 'models.voting.fields.status', scope: 'decidim.votings'  %>
          </th>
          <th class="actions"><%=t 'actions.title', scope: 'decidim.votings' %></th>
        </tr>
        </thead>
        <tbody>
        <% votings.each do |voting| %>
            <tr data-id="<%= voting.id %>">
              <td>
                <%= translated_attribute(voting.title) %>
              </td>
              <td>
                <%= l voting.start_date, format: :long %>
              </td>
              <td>
                <%= l end_date_changed(voting.end_date), format: :long %>
              </td>
              <td>
                <%= voting.target_votes.pending.count %>
              </td>
              <td>
                <%= voting.target_votes.confirmed.count %>
              </td>
              <td>
                <%= voting_status(voting) %>
              </td>
              <td class="table-list__actions">
                <%= icon_link_to 'eye',
                                 resource_locator(voting).path,
                                 t('actions.preview', scope: 'decidim.votings'),
                                 target: :blank,
                                 class: 'action-icon--preview' %>

                <% if voting.started? %>
                  <%= icon "lock-unlocked", class: "action-icon action-icon--disabled" %>
                <% else %>
                  <%= icon_link_to 'lock-locked',
                                   resource_locator(voting).path(key: voting.simulation_key),
                                   t('actions.simulate_vote', scope: 'decidim.votings'),
                                   target: :blank,
                                   class: 'action-icon--simulate_vote' %>
                <% end %>

                <% if allowed_to? :update, :voting, voting: voting %>
                    <%= icon_link_to 'pencil',
                                     edit_voting_path(voting),
                                     t('actions.edit', scope: 'decidim.votings'),
                                     class: 'action-icon--edit' %>
                <% end %>

                <%= icon_link_to 'data-transfer-download',
                                 voting_votes_path(voting, format: 'txt'),
                                 t('actions.voters', scope: 'decidim.votings'),
                                 method: :get,
                                 class: 'action-icon--download' %>

                <%= resource_permissions_link(voting) %>

                <% if allowed_to? :destroy, :voting, voting: voting %>
                  <%= icon_link_to 'circle-x',
                                   voting_path(voting),
                                   t('actions.destroy', scope: 'decidim.votings'),
                                   method: :delete,
                                   class: 'action-icon--remove',
                                   data: { confirm: t('actions.confirm_destroy', scope: 'decidim.votings') } %>
                <% end %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <%= paginate votings, theme: 'decidim' %>
    </div>
  </div>
</div>
