<h2 class="section-heading"><%= translated_attribute(campaign.title) %></h2>
<%= decidim_form_for(contribution_form,
                     url: contribution_path(contribution),
                     html: { class: 'form contribution-form' }) do |f| %>


  <legend><%=t '.select_amount' %></legend>
  <div class="amount-selector">
    <%= f.amount_selector :amount, amounts: campaign.amounts, minimum: campaign.minimum_custom_amount %>
  </div>

  <legend><%=t '.select_frequency' %></legend>
  <div class="radio-selector">
    <% recurrent_frequency_options.each do |option| %>
      <%= f.label :frequency, '', value: option[1] do %>
        <%= f.radio_button :frequency, option[1], label: false %>
        <div><%= option[0] %></div>
      <% end %>
    <% end %>
  </div>

  <% if f.object.errors.key? :frequency %>
    <small class="form-error is-visible"><%= f.object.errors[:frequency].join(', ') %></small>
  <% end %>

  <div class="form-general-submit">
    <% if allowed_to? :resume, :contribution, contribution: contribution %>
      <%= f.hidden_field :resume, value: true %>
      <%= f.submit t('actions.resume', scope: 'decidim.crowdfundings'), class: 'button success' %>
    <% elsif allowed_to? :pause, :contribution, contribution: contribution %>
      <%= f.submit t('.update'), class: 'button support' %>
      <%= link_to t('actions.pause', scope: 'decidim.crowdfundings'), pause_contribution_path(contribution), class: "button alert button--right" %>
    <% else %>
      <%= f.submit t('.update'), class: 'button support' %>
    <% end %>
    <%= link_to t('actions.cancel', scope: 'decidim.crowdfundings'), :back, class: "button hollow" %>
  </div>
<% end %>

<%= javascript_include_tag 'decidim/crowdfundings/contributions' %>
