<%= decidim_form_for(@form,
                     url: confirm_collaboration_user_collaborations_path(collaboration),
                     html: { class: 'form new_user_collaboration' }) do |f| %>


  <h2 class=section-heading><%=t '.select_amount' %></h2>
  <div class="amount-selector">
    <%= f.amount_selection :amount, collaboration.amounts, collaboration.minimum_custom_amount %>
  </div>

  <% if can? :support_recurrently, collaboration %>
    <h2 class=section-heading><%=t '.select_frequency' %></h2>
    <div class="radio-selector">
      <% frequency_options.each do |option| %>
        <%= f.label :frequency, '', value: option[1] do %>
          <%= f.radio_button :frequency, option[1], label: false %>
          <div><%= option[0] %></div>
        <% end %>
      <% end %>
    </div>

    <% if f.object.errors.key? :frequency %>
      <small class="form-error is-visible"><%= f.object.errors[:frequency].join(', ') %></small>
    <% end %>
  <% else %>
    <%= f.hidden_field :frequency %>
  <% end %>

  <h2 class=section-heading><%=t '.select_payment_method' %></h2>
  <div class="radio-selector">
    <% payment_method_options(:existing_payment_method).each do |method| %>
      <%= f.label :payment_method_type, '', value: method[1] do %>
        <%= f.radio_button :payment_method_type,  method[1], label: false %>
        <div><%= method[0] %></div>
      <% end %>
    <% end %>

    <% user_payment_methods.each do |payment_method| %>
      <%= f.label :payment_method_type, '', value: payment_method[:id] do %>
        <%= f.radio_button :payment_method_type,  payment_method[:id], label: false %>
        <div><%= payment_method[:name] %></div>
      <% end %>
    <% end %>
  </div>
  <% if f.object.errors.key? :payment_method_type %>
    <small class="form-error is-visible"><%= f.object.errors[:payment_method_type].join(', ') %></small>
  <% end %>

  <%= render 'decidim/collaborations/collaborations/terms_and_conditions' %>

  <div class="conditions-row">
    <%= f.check_box :accept_terms_and_conditions, required: true %>
    <%= f.check_box :over_18, required: true %>
  </div>

  <div class="form-general-submit">
    <%= f.submit t('.support'), class: 'button secondary support' %>
  </div>
<% end %>

<%= javascript_include_tag 'decidim/collaborations/user_collaborations' %>
