<div class="card extra" id="<%= totals_block_id(user) %>">
  <div class="card__content">
    <div class="card__header">
      <h5 class="card__title"><%= totals_title(user) %></h5>
    </div>

    <div class="card__support__data">
      <span class="extra__suport-number">
        <%= total_collected(collaboration, user) %>
      </span>
      <span class="extra__suport-text">
        <%=t '.overall_percentage' %>: <%= percentage collaboration, user %>
      </span>
      <%= percentage_tag collaboration, user %>
    </div>
  </div>
</div>