<%= decidim_form_for(@form,
                     url: campaign_contributions_path(campaign),
                     html: { class: 'form confirm_contribution', id: 'confirm_contribution' }) do |f| %>
    <%= f.hidden_field :amount %>
    <%= f.hidden_field :frequency %>
    <%= f.hidden_field :payment_method_type %>
    <%= f.hidden_field :payment_method_id %>
    <%= f.hidden_field :accept_terms_and_conditions %>

    <h2 class="section-heading"><%=t '.contribution_resume' %></h2>
    <div class="row contribution--resume">
      <div class="card card--list">
        <div class="card--list__item">
          <div class="card--list__text"><%= f.object.class.human_attribute_name(:amount) %></div>
          <div class="card--list__data"><%= decidim_number_to_currency f.object.amount %></div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text"><%= f.object.class.human_attribute_name(:frequency) %></div>
          <div class="card--list__data"><%= frequency_label f.object.frequency %></div>
        </div>
        <div class="card--list__item">
          <div class="card--list__text"><%= f.object.class.human_attribute_name(:payment_method_type) %></div>
          <div class="card--list__data">
            <% if existing_payment_method?(@form) %>
              <%= user_payment_method(f.object.payment_method_id) %>
            <% else %>
              <%= payment_method_label f.object.payment_method_type %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <% if iban_field?(@form) %>
      <h2 class="section-heading"><%=t '.fill_required_data' %></h2>
      <div class="row">
        <div class="field">
          <%= f.text_field :iban %>
        </div>
      </div>
    <% end %>

    <div class="form-general-submit button--double">
      <%= f.submit t('.confirm'), data: { confirm: t('.are_you_sure')} %>
    </div>
<% end %>
