<% add_decidim_meta_tags(
       title: translated_attribute(campaign.title),
       description: translated_attribute(campaign.description)
   ) %>


<div class="row">
  <% if campaign.target_amount.present? %>
    <div class="columns section view-side mediumlarge-4 mediumlarge-push-8">
      <%= render 'decidim/crowdfundings/campaigns/totals', user: nil %>

      <% if has_person? %>
        <%= render 'decidim/crowdfundings/campaigns/totals', user: current_user %>
      <% end %>
    </div>
  <% end %>

  <div class="columns mediumlarge-8 <%= campaign.target_amount.present? ? "mediumlarge-pull-4" : "mediumlarge-centered" %>">
    <div class="card">
      <div class="card__content">
        <h2 class="heading2"><%= translated_attribute campaign.title %></h2>

        <%= render 'confirm_form' %>
      </div>
    </div>
  </div>
</div>