<% add_decidim_meta_tags(
       title: translated_attribute(campaign.title),
       description: translated_attribute(campaign.description)
   ) %>

<div class="row">
  <div class="columns">
    <h2 class="heading2"><%= translated_attribute campaign.title %></h2>
  </div>

  <% if campaign.target_amount.present? %>
    <div class="columns section view-side mediumlarge-4 mediumlarge-push-8">
      <%= render 'decidim/crowdfundings/campaigns/totals', user: nil %>

      <% if has_person? %>
        <%= render 'decidim/crowdfundings/campaigns/totals', user: current_user %>
      <% end %>
    </div>
  <% end %>

  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="card">
      <div class="card__content">
        <%= sanitize translated_attribute campaign.description %>

      <% if contribution_error %>
        <div class="callout alert">
          <%= t "support_status.#{contribution_error}", scope: "decidim.crowdfundings" %>
        </div>
      <% elsif recurrent_contribution %>
        <div id="contribution-info">
          <p>
            <%= t(".current_#{recurrent_contribution.state}_recurrent_support",
                  amount: decidim_number_to_currency(recurrent_contribution.amount),
                  periodicity: recurrent_contribution.frequency) %>
          </p>

          <p>
            <%= link_to decidim_crowdfundings_user_profile.edit_contribution_path(recurrent_contribution),
                        class: "card__button button button--sc" do %>
              <%= t(".change_#{recurrent_contribution.state}_contribution") %>
            <% end %>
          </p>
        </div>
      <% elsif allowed_to? :support, :campaign, campaign: campaign, payments_proxy: payments_proxy %>
        <div class="section">
          <%= render 'decidim/crowdfundings/campaigns/contribution_form' %>
        </div>
        <% else %>
        <div class="text-center">
          <%= action_authorized_link_to :support, campaign_path(campaign), resource: campaign,
                                          class: "card__button button button--sc" do %>
              <%= t('.support') %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>