<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= title %></h2>
  </div>

  <div class="card-section">
    <div class="row column" >
      <%= form.translated :text_field, :title, autofocus: true %>
    </div>

    <div class="row column" >
      <%= form.translated :editor, :description %>
    </div>

    <div class="row column" >
      <%= form.translated :editor, :terms_and_conditions %>
    </div>

    <div class="row column">
      <%= form.number_field :minimum_custom_amount, step: 1, min: 0 %>
    </div>

    <div class="row column">
      <%= form.text_field :amounts %>
      <p class="help-text"><%=t '.amounts_help' %></p>
    </div>

    <div class="row column">
      <%= form.select :default_amount,
                      [],
                      {},
                      { data: { value: form.object.default_amount } } %>
    </div>

    <div class="row column">
      <%= form.number_field :target_amount, step: 1, min: 0 %>
    </div>

    <div class="row column">
      <%= form.date_field :active_until %>
      <% if current_participatory_space.has_steps? %>
      <p class="help-text"><%=t '.active_until_help' %></p>
      <% end %>
    </div>
  </div>
</div>

<%= javascript_include_tag 'decidim/crowdfundings/admin/campaigns' %>