<h2 class="section-heading"><%= t(".title") %></h2>
<div class="card card--list card--account">
  <div class="card--list__item membership_level_card">
    <div class="card--list__text">
      <div>
        <h3 class="card--list__heading heading6">
          <%= t("membership_verification_part.title", scope: "decidim.census_connector.verifications.census.authorizations") %>
        </h3>
      </div>
    </div>
    <div class="card--list__data card--list__status">
      <span class="card--list__data__icon"><%= icon *person_presenter.membership_level_icon_params %><br/><%= t(".status.#{person.membership_level}") %></span>
    </div>
    <div class="card--list__data card--list__actions">
      <a href="<%= decidim_census.root_path(step: :verification, part: :membership) %>" class="card--list__data__icon"><%=icon("task")%><br/><%= t(".action.modify") %></a>
    </div>
  </div>

  <div class="card--list__item activism_card">
    <div class="card--list__text">
      <div>
        <h3 class="card--list__heading heading6">
          <%= t(".activism") %>
        </h3>
      </div>
    </div>
    <div class="card--list__data card--list__status">
      <span class="card--list__data__icon"><%= icon *person_presenter.activism_icon_params %><br/><%= t(".status.#{person_presenter.activism_status}") %></span>
    </div>
    <div class="card--list__data card--list__actions">
    </div>
  </div>

  <% person_presenter.activism_types_status.each do |activism_type_status| %>
    <div class="card--list__item card--list__subitem activism_type_<%= activism_type_status.name %>_card">
      <div class="card--list__text">
        <div>
          <h3 class="card--list__heading heading6">
            <%= activism_type_status.title %>
          </h3>
        </div>
      </div>
      <div class="card--list__data card--list__status">
        <span class="card--list__data__icon"><%= icon *activism_type_status.status_icon_params %><br/><%= activism_type_status.status_text %></span>
      </div>
      <div class="card--list__data card--list__actions">
        <a href="<%= activism_type_status.edit_link %>" class="card--list__data__icon"><%=icon("task")%><br/><%= activism_type_status.edit_text %></a>
      </div>
    </div>
  <% end %>
</div>
