<% if !has_person? %>
  <p><%= t(".not_yet_registered") %><br/><a href="<%= decidim_census.root_path %>"><%= t(".sign_up_to_vote") %></a></p>
<% elsif !mandatory_census_service? %>
  <p><%= t("messages.error", scope: "census.api") %></p>
<% elsif person.cancelled? || person.trashed? %>
  <p><%= t("messages.error", scope: "census.api") %></p>
<% else %>
  <%= render partial: "profile" %>
  <%= render partial: "participation" if person.enabled? %>
<% end %>
<%= stylesheet_link_tag "decidim/census_connector/account/account" %>
